
  <div class="container">
    <div class="jumbotron p-5 text-white rounded">
      <h1>WELCOME TO {{title}}</h1>
      <p>This zoo was made to keep animals which are save from captivity arround ther world, most of them from Africa. With resources from private organizations and peoples ticket's entries, we can keep these animals in good conditions and furter reinsertion in the wild live. Please visit our Web Page and help us buying our suvenirs at the shop. </p>

      <div class="card-group ">
        <div class="card mx-2 rounded text-center my-auto">
          <img src="../../../assets/images/home/zoo-keeper.jpg" class="card-img-top" alt="card-group-image">

          <div class="card-footer">
            <div class="btn btn-lg btn-success" [routerLink]="['/tienda']">Help Us with a Suvenir</div>
          </div>
        </div>
        <div class="card mx-2 rounded text-center my-auto">
          <img src="../../../assets/images/home/zoo-keeper.jpg" class="card-img-top" alt="card-group-image">

          <div class="card-footer">
            <div class="btn btn-lg btn-warning" [routerLink]="['/animals']">See our Animals</div>
          </div>
        </div>
        <div class="card mx-2 rounded text-center my-auto">
          <img src="../../../assets/images/home/zoo-keeper.jpg" class="card-img-top" alt="card-group-image">

          <div class="card-footer">
            <div class="btn btn-lg btn-primary" [routerLink]="['/keepers']">They are our Keepers</div>
          </div>
        </div>
        <div class="card mx-2 rounded text-center my-auto">
          <img src="../../../assets/images/home/zoo-keeper.jpg" class="card-img-top" alt="card-group-image">

          <div class="card-footer">
            <div class="btn btn-lg btn-info" [routerLink]="['/contact']">Contact us</div>
          </div>
        </div>
      </div>

    </div>
  </div>

