<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar navbar-expand-xl navbar-light m-3 rounded " style="background-color: #c1c9cf;">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLight" aria-controls="navbarLight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarLight">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0 mx-5">
        <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link " [routerLinkActive]="['active']"  aria-current="page"><i class="bi bi-house-door-fill"></i> Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/animals']" class="nav-link" [routerLinkActive]="['active']" aria-current="page"><i class="bi bi-stars"></i> Animals</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/keepers']" class="nav-link" [routerLinkActive]="['active']" aria-current="page"><i class="bi bi-people-fill"></i> Keepers</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/tienda']" class="nav-link" [routerLinkActive]="['active']" aria-current="page"><i class="bi bi-shop"></i> Shop</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/contact']" class="nav-link" [routerLinkActive]="['active']" aria-current="page"><i class="bi bi-phone-vibrate-fill"></i> Contact</a>
        </li>
      </ul>

      <ul class=" nav navbar-nav navbar-right">
        <li class="nav-item">
          <a [routerLink]="['/login']" class="nav-link" [routerLinkActive]="['active']">
            <i class="bi bi-incognito"></i>
            Login
          </a>
        </li>
        <li>
          <a [routerLink]="['/register']" class="nav-link" [routerLinkActive]="['active']">
            <i class="bi bi-person-circle"></i>
            Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<hr>
<div class="container-fluid"><router-outlet></router-outlet></div>



