<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar navbar-expand-xl navbar-light " style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLight" aria-controls="navbarLight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarLight">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link active" aria-current="page"><span class="bi bi-house-door-fill"></span>Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/animals']" class="nav-link active" aria-current="page">Animals</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/keepers']" class="nav-link active" aria-current="page">Keepers</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/tienda']" class="nav-link active" aria-current="page">Shop</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/contact']" class="nav-link active" aria-current="page">Contact</a>
        </li>
        <li class="nav-item">
          <span *ngIf="!emailContacto">
            Email de contacto:{{emailContacto}}
            <button (click)="borrarDatos()">Borrar email de Contacto</button>
          </span>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" data-np-invisible="1" data-np-checked="1">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



<hr>
<div class="container">
  <router-outlet></router-outlet>
</div>

