<h1>{{title}}</h1>
<button id="btn-jq">Mostrar Textos</button>
<p class="texto-jq alert alert-warning">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, quod sapiente distinctio veritatis laudantium, est fugiat, numquam repudiandae fugit perspiciatis molestiae dolor eius et a incidunt itaque aliquam optio quis?</p>
<h1>TinyMCE Quick Start Guide</h1>

<editor
  apiKey="Get your free API key at tiny.cloud and paste it here"
  [init]="{
    icons: 'material',
    skin: 'borderless',
    plugins: 'wordcount',
    menubar: false,
    min_height: 150
  }"
></editor>
